* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageProfile {
  width: 100%;
  background-color: #333;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;

}

.pageProfile h2 {
  font-family: "Segoe UI Variable", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.pageProfile h5 {
  font-family: "Segoe UI Variable", "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.pic {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin-right: 10px;
  text-align: center;
  align-content: center;
  background-color: rgb(16, 7, 63);
  
}

.chatContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* position: fixed;
  top: 0px; */
  color: white;
}

.messagesBox {
  margin-top: 50px;
  margin-bottom: 65px;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.messagesBox p{
  font-size: 17px;
  font-weight: 300;
  margin: 2px 0px;
}

.myMessage {
  align-self: flex-end;
  background-color: green;
  color: white;
  padding: 8px 12px;
  border-radius: 12px 12px 0px 12px;
  max-width: 60%;
  word-wrap: break-word;
}

.friendMessage {
  align-self: flex-start;
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 12px 12px 12px 0px;
  max-width: 60%;
  word-wrap: break-word;
}

/* send message input */
.chatMessages {
  height: 70px;
  width: 70%;
  background-color: rgb(47, 47, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
}

.chatMessages input {
  height: 40px;
  width: 82%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  background-color: rgb(73, 73, 73);
  color: white;
  font-size: 16px;
  outline: none;
}

.chatMessages button {
  height: 40px;
  width: 70px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
}
.backArrow{
  display: none;
}
@media screen and (max-width:450px) {
  .pageProfile{
    padding: 5px;
    background-color:rgb(22, 26, 26);
  }
  .backArrow{
    display: block;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 25px;
    color: white;
  }
  .chatMessages{
    width: 100%;
    padding: 0px 10px;
    background-color:rgb(22, 26, 26);
  }
  .pic{
    height: 35px;
    width: 35px;
  }
  .pageProfile h2{
    font-size: 20px;
  }
  .messagesBox{
    height: 90%;
    margin-top: 58px;
    margin-bottom: 74px;
  }
}