* {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    color: white;
}

button {
    cursor: pointer;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;

}

.searchBox {
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    z-index: 10;
    padding: 5px;
    text-align: center;
}

.searchBox h2 {
    text-align: start;
}

.search {
    width: 90%;
}

.search input {
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.08);
    width: 100%;
    margin-top: 10px;

}

aside {

    height: 100vh;
    width: 30%;
    display: flex;
    background-color: rgb(47, 47, 47);
    flex-direction: column;
    align-items: center;
    gap: 5px;

    border-right: 1px solid black;
}

.profile h1 {
    font-size: 18px;
    font-weight: 400;
    color: orange;
}

.editLogo {
    font-size: 18px;
    font-weight: 300;
    color: darkgray;
    display: flex;
    align-items: center;
    gap: 3px;
    display: none;
    padding-left: 5px;
}

.editLogo span {
    font-size: 11px;
}

.add {
    height: 50px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add {
    cursor: pointer;
    font-size: 22px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

#add:hover {
    background-color: rgb(82, 82, 82);

}

.addFriendNumber {
    width: 200px;
    box-shadow: 0px 1px 2px 2px rgb(31, 31, 31);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(59, 59, 59);
    position: absolute;
    top: 40px;
    left: 40px;
    padding-bottom: 20px;
}

.addFriendNumber p {
    line-height: 10px;
    justify-self: right;
    cursor: pointer;
}

.addFriendNumber input {
    height: 30px;
    width: 100%;
    margin: 5px 0px;
    margin-top: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: aliceblue;
    padding-left: 5px;
}

.addFriendNumber input::placeholder {
    color: rgb(183, 182, 182);
}

.addFriendNumber button {
    width: 50px;
    background-color: transparent;
    border: 1px solid darkgray;
    border-radius: 5px;
    color: white;
    padding: 3px;
    font-weight: 100;
    font-size: 12px;
}

.info {
    width: 100px;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    background-color: rgb(47, 47, 47);
    padding: 5px;
    box-shadow: 0px 0px 1px 1px black;
    border-radius: 5px;
    transition: 0.6s ease;
}

.info p {
    font-size: 12px;
    margin: 2px;
}

.profile1 {
    text-align: left;
    height: 25px;
    align-content: center;
}

.profile1 span {
    font-weight: 500;
}

.profileToggle {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    background-color: rgb(21, 107, 40);
    color: white;
    cursor: pointer;
    margin: 0px 5px;
}

.profileBox {
    position: absolute;
    width: 230px;
    background-color: rgb(47, 47, 47);
    box-shadow: 0px 1px 2px 2px rgb(32, 32, 32);
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 70px;
    text-align: left;
}

#cross {
    text-align: right;
    cursor: pointer;
}

.profileBox h2 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.profileBox p {
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 200;
}

.profileBox button {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: brown;
    position: absolute;
    bottom: 10px;
}

.chatboxHead {
    height: 50px;
    padding: 10px;
    background-color: rgb(47, 47, 47);
}
 .linkadd{
        width: 100%;
        display: flex;
        justify-content: center;
    }
.contact {
    width: 95%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s ease;
}

a {
    text-decoration: none;
    color: white;
}

.link {
    justify-self: left;
    background-color: aqua;
}

.contact:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid darkgray;
    text-align: center;
    align-content: center;
}

.removeFriend {
    margin-left: auto;
    color: rgb(47, 47, 47);
    ;
}

.removeFriend:hover {
    color: white;
}

.name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    font-family:
        "Segoe UI Variable",
        "Segoe UI",
        sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.page {
    width: 70%;
    height: 100vh;
    background-image: url('../assets/chatBox_wallpaper.jpg');
    background-size: contain;
    overflow: hidden;
}

.page p {
    padding-left: 15px;
    color: aliceblue;
    font-size: 25px;
}

@media screen and (max-width:480px) {
    aside {
        width: 100%;
        background-color: rgb(22, 26, 26);
    }

    .asideHide {
        display: none;
    }

    .page.show {
        display: block;
    }

    .page {
        display: none;
    }

    .profile1 {
        justify-self: right;

    }

    .profileToggle {
        margin: 10px;
        height: 30px;
        width: 30px;
        /* -webkit-text-stroke: 0.2px rgb(255, 253, 253);
        color: rgb(21, 107, 40); */
        font-weight: 600;
        background-color: #160231;
        border: 1px solid white;
       
    }

    .profile1 span {
        display: none;
    }

    .profileBox {
        left: 0px;
        top: 0px;
        height: 100vh;
        width: 100%;
        padding: 20px;
        border-radius: 0px;
        background-color: rgb(22, 26, 26);
    }

    #cross {
        font-size: 18px;
    }

    .profileBox h2 {
        margin-top: 10px;
        color: rgb(200, 171, 241);
        font-size: 25px;
    }

    .profileBox strong {
        font-size: 18px;
        color: darkgray;
    }

    .profileBox p {
        font-size: 16px;
        color: lightgray;
        line-height:20px;
    }

    .profile1 button {
        bottom: 100px
    }

    .editLogo {
        display: flex;
        margin: 10px 5px;
        font-size: 20px;
    }

    .addFriendNumber {
        width: 95%;
        left: 10px;
        box-shadow: none;
        top: 0px;
        background-color: rgb(38, 42, 42);
    }

    .addFriendNumber p {
        margin: 10px;
        font-size: 22px;
    }

    .addFriendNumber input {
        height: 40px;
        width: 90%;
        border-radius: 10px;
        background-color: rgb(58, 63, 63);
    }

    .addFriendNumber button {
        margin-top: 10px;
        width: 70px;
        padding: 5px;
        font-weight: 600;
        border: none;
        box-shadow: 0px 0px 4px 1px rgb(22, 26, 26);;
    }

    .add {
        height: 35px;
    }

    .add h2 {
        position: absolute;
        top: 5px;
        margin: 3px;
    }

    #add {
        display: none;
    }

    .search {
        width: 88%;
        margin-bottom: 5px;
    }

    .search input {
        height: 40px;
        border: none;
        border-radius: 20px;
        padding-left: 10px;
    }

    .logo {
        height: 35px;
        width: 35px;
        color: silver;
        font-weight: 600;
        /* -webkit-text-stroke: 1px rgb(39, 25, 234); */
        color: white;
    }
   
    .contact {
        width: 90%;
        box-shadow: 0px 1px 1px 1px black;
        margin-top: 5px;

    }
     .name{
        font-size: 18px;
     }
    .removeFriend {
        color: darkgray;
    }

    .page {
        width: 100%;
    }


}